/* Schriftarten */
@font-face {
	font-family: cookiesmilk;  
	src: url(/user/themes/quark-child/assets/cookiesmilk.ttf);  
	font-weight: normal;  
}

h1 {
    font-family: "cookiesmilk";
}

body, h2, h3, h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Schriftgröße */
html { 
    font-size: calc(1em + 1vw); 
}
body {
    font-size: 0.9rem;
    line-height: 150%;
}
#header {
    font-size: .8rem;
}
h1, 
.title-h1h2 h1 {
    font-size: calc(2em + 7.5vw); 
}
h2, .title-h1h2 h2, .title-h1h2 h1 + h2{
    font-size: calc(1em + 2.0vw); 
}
h3 {
    font-size: 2rem;
}

.slug-home.title-h1h2 h2 {
    font-size: 1.4em;
}

@media only screen and (min-width: 856px) { 
    html { 
        font-size: 1.5em 
    }
    h1, 
    .title-h1h2 h1 {
        font-size: 4.8em; 
    }
    h2, .title-h1h2 h2, .title-h1h2 h1 + h2{
        font-size: 1.8em; 
    }
}

/* Schriftfarben */
h1 { color: #111; }
h2, .hero h2 { color: #777; }

/* Weitere Schriftanpassungen */
a, .dropmenu ul li a {
    text-decoration: underline;
}

/* Abstände */
.hero.hero-tiny{
    padding-bottom: 0.5rem;
}

#body-wrapper .container {
    padding: 0rem 0 2rem;
}

h1, .title-h1h2 h1 {
    margin-bottom: 10px;
}
.hero-tiny {
    padding-top: 4rem;
}
.hero-tiny.title-h1h2 h1 + h2 {
    margin-bottom: inherit;
}

/* Linkliste auf Startseite */
.link-title::after {
    content: ':';
    white-space: initial;
}

@media only screen and (max-width: 500px) { 
    .link-title::after {
        content: '\A';
        white-space: pre;
    }
}

/* Einträge */
.entry img.icon {
    height: 2rem;
}
@media only screen and (max-width: 300px) { 
    .entry img.icon { display: none; }
}

.notices.info {
    border-left: 10px solid #bbb;
    background: #eee;
}